* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
  border: 1px solid black;
}
html {
  font-size: 62.5%;
}
.main-container {
  width: 1000px;
  margin: 0 auto;
}
header {
  background-color: lightblue;
  padding: 3%;
  font-size: 1.6rem;
  font-weight: bold;
}
header nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
header nav a {
  margin-left: 3%;
  text-decoration: none;
  text-transform: capitalize;
}
.intro {
  padding: 2%;
  background-color: lightgray;
  font-size: 2rem;
}
.intro .resume-img {
  background-color: yellow;
  height: 335px;
  width: 500px;
  margin-bottom: 2%;
}
.intro h1 {
  font-size: 3.5rem;
}
.intro .objective {
  margin-top: 2%;
  padding-top: 2%;
  border-top: 1px solid black;
}
button {
  width: 18%;
  margin-top: 2%;
  padding: 1.5%;
  border-radius: 10px;
  background-color: forestgreen;
  color: white;
  text-transform: uppercase;
  border: 1px solid black;
}
