* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
}
.up {
  text-transform: uppercase;
}
html {
  font-size: 62.5%;
}
.main-container {
  width: 1000px;
  margin: 0 auto;
}
header {
  background-color: cadetblue;
  padding: 3%;
  font-size: 1.6rem;
  font-weight: bold;
}
header nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 500) {
  header nav {
    display: flex;
    flex-direction: column;
  }
}
header nav a {
  margin-left: 3%;
  text-decoration: none;
  text-transform: capitalize;
}
.intro {
  padding: 2%;
  background-color: lightgray;
  font-size: 2rem;
}
.intro .resume-img {
  height: 335px;
  width: 500px;
  margin-bottom: 2%;
}
.intro h1 {
  font-size: 3.5rem;
}
.intro p {
  font-family: 'Sulphur Point', sans-serif;
}
.objective {
  margin-top: 2%;
  padding-top: 2%;
  border-top: 1px solid black;
}
.objective p {
  font-family: 'Sulphur Point', sans-serif;
}
button {
  width: 18%;
  margin-top: 2%;
  padding: 1.5%;
  border-radius: 10px;
  background-color: gray;
  color: white;
  text-transform: uppercase;
  border: 1px solid black;
}
.education {
  width: 100%;
  line-height: 1.5;
  padding: 2%;
}
.education h2 {
  font-size: 2.5rem;
}
.education p {
  width: 100%;
  font-size: 2rem;
}
.jobs {
  margin: 1.5%;
  padding: 0.5% 2% 2% 0;
  font-size: 2rem;
  display: flex;
  justify-content: center;
}
.jobs .top-header {
  font-size: 3rem;
}
.jobs table {
  width: 550px;
  height: 400px;
  text-align: center;
}
.jobs table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.jobs table td {
  text-align: center;
}
.contact {
  width: 100%;
  padding: 2%;
  font-size: 2rem;
  margin-top: 2%;
}
.contact h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cadetblue;
  padding: 3%;
  font-size: 1.6rem;
  font-weight: bold;
}
